package main

import (
	"github.com/Unknwon/macaron"

	"{{.Name}}/modules/middleware"
	"{{.Name}}/routers"
)

const APP_VER = "0.1.0"

func main() {
	m := macaron.Classic()
	m.Use(macaron.Renderer())
	m.Use(middleware.Contexter())
	m.Get("/", routers.Home)
	m.Run()
}
