<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{.Name}}</title>

  <link rel="shortcut icon" href="favicon.png" />

  <script type="text/javascript" src="base.js"></script>
  <link rel="stylesheet" href="base.css">
</head>
<body>
  <div id="wrapper">
    <h1>Welcome To Macaron</h1>
  </div>
</body>
</html>
